html, body {
  height: 100%;
  overflow: hidden; /* prevent scrolling */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #fce4ec;
}

/* TEXT */
h1{
  font-size: 70px;
  text-align: center;
  margin: 20px 10px 10px;
  font-family: 'Great Vibes', cursive;
}

p{
  font-size: 22px;
  text-align: center;
  padding: 0 20px;
  line-height: 1.5;
  font-family: "Comic Sans MS", fantasy;
}

.box{
  width: 50%;
  height: auto;
  margin: 0 auto;
  gap: 10px;
}

img{
  border-radius: 10px;
}

/* SLIDER */
.slider {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 10px;
}

.slide-track {
  display: flex;
  width: max-content;
  animation: scrollDesktop 60s linear infinite;
  gap: 10px;
}

.slide-track img {
  width: 250px;
  height: 220px;
  object-fit: cover;
  flex-shrink: 0;
}

.slider2 {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}


.slide-track2 {
  display: flex;
  width: max-content;
  animation: scrollDesktop 60s linear infinite;
  gap: 10px;
}


.slide-track2 img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  flex-shrink: 0;
}

/* DESKTOP ANIMATION */
@keyframes scrollDesktop {
  from { transform: translateX(0); }
  to { transform: translateX(-2990px); } 
  /* 13 images × (220 + 10 gap) */
}

/* ---------- PHONE VIEW ---------- */
@media (max-width: 600px) {

  h1{
    font-size: 40px;
  }
  
  img{
    border-radius: 10px;
  }

  p{
    font-size: 19px;
  }

  .box{
    width: 90%;
  }

  .slider {
    height: 250px;
    margin-top: 10%;
  }

  .slide-track {
    animation: scrollMobile 45s linear infinite;
    gap: 8px;
  }

  .slide-track img {
    width: 160px;
    height: 160px;
  }

  .slider2 {
  height: 250px;
  }
  .slide-track2 {
    animation: scrollMobile 45s linear infinite;
    gap: 8px;
  }
  .slide-track2 img {
    width: 160px;
    height: 160px;
  }

  @keyframes scrollMobile {
    from { transform: translateX(0); }
    to { transform: translateX(-1924px); } 
    /* 13 × (140 + 8 gap) */
  }
}

